
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SMS</h4>
        <hr />
        <div class="form-group">
            <p>@ViewBag.Result</p>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>